{% extends "base.html" %} {% block content %}
<h1>This is the book detail page</h1>

<p>Name: {{book.name}}</p>
<p>Author: {{book.author}}</p>
<p>Publisher: {{book.publisher}}</p>

<a href="{% url 'book-update' book.id %}">Edit</a>
<a href="{% url 'book-delete' book.id %}">Delete</a>


<h2>Genres</h2>

<form action="{% url 'associate-genre' book.id %}" method="post">
    {% csrf_token %}

    <label for="genre">Update Genre:</label>
    <select name="genre" id="genre" multiple size="{{ all_genre.count }}">
        {% for genre in all_genre %}
        <option value="{{ genre.id }}" {% if genre in book.genre.all %} selected {% endif %}>{{ genre.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Update Genre</button>
</form>


<h2>Add a new genre and associate it to the book:</h2>


<form action="{% url 'add-and-associate-genre' book.id %}" method="post">
    {% csrf_token %}
    {{ genre_form.as_p }}
    <button type="submit">Add and associate Genre</button>
</form>

{% endblock %}
