{% extends "base.html" %} {% block content %}
<h1>This is the publisher detail page</h1>

<p>{{publisher.get_name_display}}</p>

<h2>Current Books by Publisher:</h2>
<ul>
  {% for book in publisher.book_set.all %}
  <li>
    <a href="{% url 'book-detail' book.id %}"
      >{{book.name}} by {{book.author}}</a
    >
  </li>
  {% endfor %}
</ul>

<h2>Add new Book:</h2>

<form action="{% url 'add-book-to-publisher' publisher.id %}" method="post">
  {% csrf_token %} {{book_form.as_p}}
  <button type="submit">Submit</button>
</form>
<h2>Books without any publishers:</h2>
{% if books_without_publisher.count %}
<ul>
  {% for book in books_without_publisher %}
  <li>
    <a href="{% url 'book-detail' book.id %}"
      >{{book.name}} by {{book.author}}</a
    >
  </li>
  <form action="{% url 'associate-book' publisher.id book.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Add to Publisher</button>
  </form>
  {% endfor %}
</ul>
{% else %}
<p>There are no books without publishers</p>
{% endif %} {% endblock %}
